.searchbar {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchbar input[type="text"] {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.searchbar input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.searchbar .icon {
    width: 25%;
    background-color: #f0f0f0;
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.searchbar .icon:hover {
    background-color: #e0e0e0;
}